@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #F8FAFC;
    --primary: #1E293B;
    --accent: #3B82F6;
    --border: #94A3B8;
}
*{
    background-color: var(--background);
    color: var(--primary)  ;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
body{
    font-size: 14px;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.contentheader {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentheader ul {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contentheader a {
    text-decoration: none;
    color: var(--primary);
}

section {
    width: 70%;
    height: 60vh;
    overflow-y: auto;
}

section li{
    border-bottom: 1px solid var(--border);
    display: flex;
    gap: 1%;
    margin-top: 6%;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    overflow-wrap: anywhere;
}
nav{
    width: 15%;
    height: 80vh;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
main{
    display: flex;
    align-items: center;
}

input[type="button"] {
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #2f5ab9;
}
input[type="button"]:focus {
    outline: 2px solid var(--border);
    outline-offset: 2px;
}
input[type="text"]{
    border: none;
    border-radius: 6px;
    border-bottom: 1px solid var(--border);    
    padding: 6px 12px;
}
#deleteall{
    background-Color: #c84949eb;
}

.controlers {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--border);

    padding: 12px 0;
    gap: 8px;
}
.filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
}
.filters button {
    width: 80%;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 5px 10px;
    background-color: var(--background);
    color: var(--primary);
    cursor: pointer;
}
.filtersoption{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-actions {
    margin-left: auto;
}
.filteroptiona:hover .filters{
    display: block;
}